<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Krisztina Kovari Web Developer</title>

  </head>
  <body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
              <span class="icon-menu"></span>
            </button>
            <a href="index.html" class="navbar-brand"><img src="images/logo.png" alt=""></a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
              <li class="nav-item active">
                <a class="nav-link" href="#hero-area">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">
                  About
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">
                  Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#resume">
                  Resume
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portfolios">
                  Work
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">
                  Contact
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Mobile Menu Start -->
        <ul class="onepage-nev mobile-menu">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">about</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#resume">resume</a>
          </li>
          <li>
            <a href="#portfolio">Work</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
        <!-- Mobile Menu End -->
      </nav>
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area" class="hero-area-bg">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <div class="contents">
                <h5 class="script-font wow fadeInUp" data-wow-delay="0.2s">Hi! This is</h5>
                <h2 class="head-title wow fadeInUp" data-wow-delay="0.4s">Krisztina Kovari</h2>
                <p class="script-font wow fadeInUp" data-wow-delay="0.6s">Junior Full-stack Web Developer</p>
                <ul class="social-icon wow fadeInUp" data-wow-delay="0.8s">
                  <li>
                    <a class="facebook" href="https://www.facebook.com/krystonen"><i class="icon-social-facebook"></i></a>
                  </li>
                  <li>
                    <a class="twitter" href="https://www.twitter.com/krystonen"><i class="icon-social-twitter"></i></a>
                  </li>
                  <li>
                    <a class="instagram" href="https://www.linkedin.com/in/krystonen/"><i class="icon-social-instagram"></i></a>
                  </li>
                  <li>
                    <a class="linkedin" href="https://www.linkedin.com/in/krystonen/"><i class="icon-social-linkedin"></i></a>
                  </li>
                  <li>
                    <a class="google" href="https://plus.google.com/u/0/+KrisztinaKovari"><i class="icon-social-google"></i></a>
                  </li>
                </ul>
                <div class="header-button wow fadeInUp" data-wow-delay="1s">
                  <a "href="mailto:krystonen@gmail.com" class="btn btn-common">Contact me</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <%= image_tag "about-1.jpg", class: "img-fluid" %>
              <!-- <img class="img-fluid" src="source/img/about/about-1.jpg" alt=""> -->
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3>Hi There!</h3>
              <p>I'm Krisztina. I graduated at Le Wagon Amsterdam in 2018 November as a full-stack web developer. During this intensive 9-week bootcamp I learnt HTML, CSS, Bootstrap, Javascript, SQL, git, gitHub, Heroku, and Ruby on Rails. To further develop my skills as a software developer I am ready to take on a full-time job and I am also interested in building unique, responsive websites for individuals and small businesses.</p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Name </span> <span class="pro-detail">Krisztina Kovari</span></li>
                  <li><span class="pro-title"> Nationality </span> <span class="pro-detail">Hungarian</span></li>
                  <li><span class="pro-title"> Experience </span> <span class="pro-detail">1 Year</span></li>
                  <li><span class="pro-title"> Country </span> <span class="pro-detail">Netherlands</span></li>
                  <li><span class="pro-title"> Location </span> <span class="pro-detail">Amsterdam</span></li>
                  <li><span class="pro-title"> e-mail </span> <span class="pro-detail">krystonen@gmail.com</span></li>
                  <li><span class="pro-title"> Phone </span> <span class="pro-detail">+ (31) 652 343 703</span></li>
                  <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span></li>
                </ul>
              </div>
              <a href="images/kkovari_cv.pdf" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
              <a href="mailto:krystonen@gmail.com" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->

    <!-- Services Section Start -->
    <section id="services" class="services section-padding">
      <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
      <div class="container">
        <div class="row">
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon">
                <i class="icon-grid"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Front-end Development</a></h3>
                <p>Making your product look like you imagined and beyond is what I thrive for.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon">
                <i class="icon-layers"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Back-end Development</a></h3>
                <p>Backend solutions using Ruby on Rails framework, PostGreSQL, Active Record. </p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon">
                <i class="icon-briefcase"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Support</a></h3>
                <p>I help people to set up their own website and to get them started with coding.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon">
                <i class="icon-bubbles"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Networking</a></h3>
                <p>Meetups are my favorite ways to meet new people who share passion for technology.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Resume Section Start -->
    <div id="resume" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="education wow fadeInRight" data-wow-delay="0.3s">
              <ul class="timeline">
                <li>
                  <i class="icon-graduation"></i>
                  <h2 class="timelin-title">Education</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Le Wagon Amsterdam - Coding Bootcamp</h3>
                    <span>Sep 2018 - Nov 2018 </span>
                    <p class="line-text">Le Wagon is a very product-driven program teaching the core concepts of programming and web development. During the course, I learnt how to build robust and beautiful web applications, collaborate within a team of developers and adopt the technical workflow followed by successful startups.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Eotvos Lorand University, Budapest </h3>
                    <span>1996 - 2001</span>
                    <p class="line-text">Master of Hungarian Language & Literature. Interest in Linguistics and Medieval Literature.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Eotvos Lorand University, Budapest </h3>
                    <span>1996 - 2001</span>
                    <p class="line-text">Humanities Informatics. Contributed to the world's first critial edition published on internet.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="experience wow fadeInRight" data-wow-delay="0.6s">
              <ul class="timeline">
                <li>
                  <i class="icon-briefcase"></i>
                  <h2 class="timelin-title">Experience</h2>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Freelance</h3>
                    <span>Nov 2018 - Present </span>
                    <p class="line-text">Advising and building static and dynamic websites for individuals and small businesses.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title">Full Stack Web Developer at Le Wagon, Amsterdam</h3>
                    <span>Sep 2018 - Nov 2018 </span>
                    <p class="line-text">Final project: a mobile sized web app that helps teachers to find substitute teachers in their field easily. Designed various apps during the bootcamp from scratch, full stack (CRUD). Followed policies and procedures related to application methods and quality standards at all times.</p>
                  </div>
                </li>
                <li>
                  <div class="content-text">
                    <h3 class="line-title"> Non-Linear Supervisor at Viacom, Amsterdam</h3>
                    <span>Jun 2016 - Dec 2017</span>
                    <p class="line-text">Managed an operational team responsible for content delivery to cable networks, websites across the globe (Amazon, iTunes, Ziggo, Singtel etc). Supported technical setup of B2B clients. Assisted internal software development to produce, store and share artwork.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Resume Section End -->

    <!-- Portfolio Section -->
    <section id="portfolios" class="section-padding">
      <!-- Container Starts -->
      <div class="container">
        <h2 class="section-title wow flipInX" data-wow-delay="0.4s">My Works</h2>
        <div class="row">
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                All
              </a>
              <a class="filter btn btn-common" data-filter=".development">
                Development
              </a>
              <a class="filter btn btn-common" data-filter=".games">
                Games
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row wow fadeInDown" data-wow-delay="0.4s">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <%= image_tag "img-11.jpg", alt:"" %>
                  <!-- <img src="../source/images/img-11.jpg" alt="" /> -->
                  <div class="overlay">
                    <div class="icons">
                      <% link_to asset_path(:images, "img-11.jpg"), class:"lightbox preview" do %>
                        <i class="icon-eye"></i>
                      <% end %>
                      <% link_to "http://www.submaster.club/", class:"link" do %>
                        <i class="icon-link"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <%= image_tag "img-12.jpg", alt:"" %>
                  <div class="overlay">
                    <div class="icons">
                      <% link_to asset_path(:images, "img-12.jpg"), class:"lightbox preview" do %>
                        <i class="icon-eye"></i>
                      <% end %>
                      <% link_to "https://b2boats-clone.herokuapp.com/", class:"link" do %>
                        <i class="icon-link"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <%= image_tag "img-13.jpg", alt:"" %>
                  <div class="overlay">
                    <div class="icons">
                      <% link_to asset_path(:images, "img-13.jpg"), class:"lightbox preview" do %>
                        <i class="icon-eye"></i>
                      <% end %>
                      <% link_to "https://smoothie-heaven.herokuapp.com/", class:"link" do %>
                        <i class="icon-link"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development games">
              <div class="portfolio-item">
                <div class="shot-item">
                  <%= image_tag "img-14.jpg", alt:"" %>
                  <div class="overlay">
                    <div class="icons">
                      <% link_to asset_path(:images, "img-14.jpg"), class:"lightbox preview" do %>
                        <i class="icon-eye"></i>
                      <% end %>
                      <% link_to "https://krystonen.github.io/RGB-color-game/colorgame.html", class:"link" do %>
                        <i class="icon-link"></i>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development games">
              <div class="portfolio-item">
                <div class="shot-item">
                 <%= image_tag "img-5.jpg", alt:"" %>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/img-5.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix development">
              <div class="portfolio-item">
                <div class="shot-item">
                  <%= image_tag "img-6.jpg", alt:"" %>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/img-6.jpg">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="#">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->

    <!-- Counter Area Start-->
    <section class="counter-section section-padding">
      <div class="container">
        <div class="row">
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.3s">
              <div class="icon"><i class="icon-briefcase"></i></div>
              <div class="counterUp">3542</div>
              <p>Lines of Codes</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.6s">
              <div class="icon"><i class="icon-check"></i></div>
              <div class="counterUp">264</div>
              <p>Commits on GitHub</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="0.9s">
              <div class="icon"><i class="icon-diamond"></i></div>
              <div class="counterUp">20</div>
              <p>Repositories</p>
            </div>
          </div>
          <!-- Counter Item -->
          <div class="col-md-3 col-sm-6 work-counter-widget text-center">
            <div class="counter wow fadeInDown" data-wow-delay="1.2s">
              <div class="icon"><i class="icon-heart"></i></div>
              <div class="counterUp">785</div>
              <p>+hours of coding</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Counter Area End-->

    <!-- Contact Section Start -->
    <section id="contact" class="section-padding">
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="contact-block">
                <h2>Contact Form</h2>
                <form id="contactForm" action="https://getsimpleform.com/messages?form_api_token=eb7151b82fc3ba195bfc61e6dfbd1011" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" placeholder="Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                     <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" name="subject" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" name="message" id="message" placeholder="Your Message" rows="5" data-error="Write your message" required></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                      <div class="submit-button">
                        <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12">
              <div class="footer-right-area wow fadeIn">
                <h2>Contact Address</h2>
                <div class="footer-right-contact">
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>Amsterdam, NL</p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="mailto:krystonen@gmail.com">krystonen@gmail.com</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <p><a href="#">+ (31) 652 34 37 03</a></p>
                    <p> </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
            <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2435.258614542961!2d4.899976716191382!3d52.38386197978872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609b440714bbb%3A0xa6175c28f97a0af6!2sA&#39;DAM+Lookout!5e0!3m2!1sen!2snl!4v1544543744348"></object>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <ul class="social-icon">
                <li>
                  <a class="facebook" href="https://www.facebook.com/krystonen"><i class="icon-social-facebook"></i></a>
                </li>
                <li>
                  <a class="twitter" href="https://www.twitter.com/krystonen"><i class="icon-social-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="https://www.icon-social-instagram.com/krystonen"><i class="icon-social-instagram"></i></a>
                </li>
                <li>
                  <a class="linkedin" href="https://www.linkedin.com/in/krystonen/"><i class="icon-social-linkedin"></i></a>
                </li>
                <li>
                  <a class="google" href="https://plus.google.com/u/0/+KrisztinaKovari"><i class="icon-social-google"></i></a>
                </li>
              </ul>
              <p>Copyright © 2018 UIdeck All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <!--  <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.mixitup.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/nivo-lightbox.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.min.js"></script>
    <script src="assets/js/map.js"></script> -->

  </body>
</html>
